<h1>Sales</h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Date</th>
      <th scope="col">Amount</th>
    </tr>
  </thead>
  <tbody>
    <% sales.forEach(function(sale) { %>
      <tr>
        <th scope="row"><%= sale.id %></th>
        <td><a href="/sales/<%=sale.id %>"><%= new Date(sale.date).toLocaleString() %></a></td>
        <td><%= sale.total_amount.toLocaleString() %></td>
      </tr>
    <% }); %>
  </tbody>
</table>
